body{
    background: linear-gradient(
90deg, #292828, #ecebeb,#535252);
}

.container{
    height: 250px;
    width: 93%;
    display: flex;
    margin: auto;
    /* border: 1px solid violet; */
    justify-content: space-between; 
}

.container-detail{
    height: 99%;
    width: 64%;
    /* border: 1px solid green; */
    background-size:cover;
    background-image: url(https://i.ibb.co/2vjM6bf/s4.jpg);
   position:relative
}
 
.detail {
    position: absolute;
    width: 10%;
    height: 99%;
    margin-left: 90%;
    background-color: #000000af;
    border-radius: 100px 0% 0% 100px;
    color: #ffebcd04;
}
.detail button {
    height: 50px;
    margin;
    
}

.detail:hover{
    width: 70%;
    margin-left: 30%;
    transition: 4s; 
    color: blanchedalmond;
}

.detail button:hover{

}

.image-container {
    height: 99%;
    width: 30%;
    /* border: 1px solid black; */
    background-image: url(https://i.ibb.co/rdx6nqS/6.jpg);
    background-size: cover;

}

